.job-application-container {
    width: 50%;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #04524C;
  }
  
  .application-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .submit-btn {
    padding: 10px 20px;
    background-color: #04524C;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
  }
  
  .submit-btn:hover {
    background-color: #033f3a;
  }
  